<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/condorcet?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">bb8c3po@kukulera</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <property name="show_sql">false</property>

		<mapping class="main.Models.Entities.Candidate"/>
        <mapping class="main.Models.Entities.Department"/>
        <mapping class="main.Models.Entities.PersoneData"/>
        <mapping class="main.Models.Entities.Post"/>
        <mapping class="main.Models.Entities.Schedule"/>
        <mapping class="main.Models.Entities.Specialist"/>
        <mapping class="main.Models.Entities.User"/>
        <mapping class="main.Models.Entities.Vacancy"/>

    </session-factory>

</hibernate-configuration>